.rb-grid {

	list-style: none;

	text-align: center;

	margin: 0 auto;
}


.rb-grid li {

	width: 10%;

	height: 10em;

	margin: 0.2%;

	background: #8CC7DF;

	color: #fff;

	display: block;

	float: left;

	position: relative;

	opacity: 1; }




.rb-info {

	width: 100%;

	height: 80%;

 	padding: 1.0em;}


.rb-info rb-grid li h3 {

	font-size: 3em;

	font-weight: 100; }


.rb-info rb-qtd {
	
	display: block;

	font-size: 3em;
	font-weight: 100;}


.rb-action {
	width: 100%;
	height: 20%;
}


.rb-week > div {

	width: 50%;

	height: 100%;

	float: left;

	position: relative;

	padding: 0% 0;
}


	.rb-week span {
	
	padding: 1% 0;

	font-size: 1em;

	font-weight: 100;

	display: block;

	margin: auto 0;

	height: 100%;

	width: 100%;

	line-height: 0.8;
	cursor: pointer;}






/* Colors */

/* Grid */

.rb-grid li{ background: #3399CC; }


/* Overlay Columns */


.rb-grid li
.rb-week > div:nth-child(1) { background: #33CCCC; }

.rb-grid li
.rb-week > div:nth-child(2) { background: #2DB4B4; }


@media screen and (max-width: 63.125em) {
	
	
.rb-grid li,
	
.rb-grid li > div {
		text-align: center;
	}
}
